
.padding-15 {
  padding: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

#allPosts {
  overflow: auto;
  height: 400px;
}

@media only screen
        and (orientation: landscape) {
  #allPosts {
    height: 250px;
  }
}

#navigationTabs {
  a[href="#chat"] {
    padding-right: 36px;

    .badge {
      position: absolute;
      top: 50%;
      right: 4px;
      margin-top: -9px;
    }
  }
}