
.padding-15 {
  padding: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

#allPosts {
  overflow: auto;
  height: 400px;
}

@media only screen and (orientation: landscape) {
  #allPosts {
    height: 150px;
  }
}

#navigationTabs {
  a[href="#chat"] {
    padding-right: 36px;

    .badge {
      position: absolute;
      top: 50%;
      right: 4px;
      margin-top: -9px;
    }
  }
}

#imageCarousel {
  .fa-refresh {
    position: absolute;
    font-size: 24px;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    z-index: 1;
    color: white;
    display: none;
  }

  &.loading {
    .fa-refresh {
      display: inline-block
    }
  }

  #imagePlaceholder {
    width: 100%;
  }
}


#photos {
  .initialising {
    #imageCarousel {
      display: none;
    }

    .alert {
      display: block;
    }
  }

  .alert {
    display: none;
  }

}

